streamlit
scikit-learn
webcolors
rembg
backgroundremover
opencv-python
Pillow
requestsstreamlit
numpy
scikit-learn
pillow
webcolors
opencv-python
rembg
colorthief
backgroundremover
requests
opencv-python